.counter {
  font-family: 'Apple Chancery';
  margin: 50px ;
  font-size: 500%;
  text-align: center;
}

.clicker {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.per-sec {
  text-align: center;
  padding: 10px;
  flex-wrap: flex;
  margin: 10px 45%;
  background-color: darkorange;
  color: #000;
  font-weight: bolder;
  border-radius: 50px;
}

button.click-button {
  padding: 25px;
  font-size: xx-large;
  border-width: 50px;
  border-radius: 100px;
  background-color: #030;
}

button.click-button:hover {
  background-color: #050;

}
@media  screen and (max-width: 800px) {
  .counter {
    font-size: 300%;
  }

  .per-sec {
    margin: 10px 10%;
  }
}
