.counter {
  margin: 50px ;
  font-size: 500%;
  text-align: center;
}

.clicker {
  text-align: center;

}

button.click-button {
  padding: 25px;
  font-size: xx-large;
  border-width: 50px;
  border-radius: 100px;
  background-color: #030;
}

button.click-button:hover {
  background-color: #050;
}