.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter {
  margin: 50px ;
  font-size: 500%;
  text-align: center;
}

.clicker {
  text-align: center;

}

.click-button {
  padding: 25px;
  font-size: xx-large;
  border-width: 50px;
  border-radius: 100px;
}

.parent-div {
 display: flex;
 align-items: center;
/* justify-content: space-between;*/
}

.item-name {
  padding: 10px 0px;
  font-size: larger;
  font-weight: bolder;
  background-color: purple;
  margin: 5px 25%;
  border-radius: 10px;
}

.child-div {
  margin: 30px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
/*  display: flow;*/
/*  float: right;*/

}

.item-count {
  padding: 5px 0px;
/*  font-size: l;*/
  font-weight: bolder;
  background-color: maroon;
  margin: 5px 25%;
  border-radius: 10px;
}

.item-persec {
  padding: 5px 0px;
  text-align: center;
/*  font-size: l;*/
  font-weight: bolder;
  background-color: darkslateblue;
  margin: 5px 15%;
  border-radius: 10px;
}

.child-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media  screen and (max-width: 600px) {
  .parent-div {
    flex-wrap: wrap;
  }
  .child-div {
    width: 100%;
    margin: 4px 15%;
  }
}
